In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler,RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer

In [23]:
train_data = pd.read_csv('../Final_train_table/01_application_train.csv',index_col='SK_ID_CURR').sort_index(ascending=True)

In [24]:
train_data

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
0,0,Cash loans,M,N,Y,0,202500.0,1197000.0,44487.0,1197000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Cash loans,F,N,N,0,175500.0,900000.0,26316.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,0,Cash loans,F,N,Y,1,58500.0,265851.0,11263.5,229500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,Cash loans,F,N,N,2,54000.0,545040.0,20547.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,2.0
4,0,Cash loans,F,Y,Y,0,135000.0,512064.0,25033.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307505,0,Cash loans,F,N,N,1,157500.0,1006920.0,42790.5,900000.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,2.0
307506,0,Cash loans,F,N,Y,0,67500.0,100737.0,9940.5,94500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307507,0,Revolving loans,F,N,Y,0,450000.0,1237500.0,61875.0,1237500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307509,0,Cash loans,M,N,Y,0,90000.0,509400.0,28575.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
307510,0,Cash loans,F,N,Y,0,112500.0,922500.0,27103.5,922500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
x_train = train_data.drop(columns='TARGET')
y_train = train_data['TARGET'].astype('float')

In [26]:
numeric_columns = x_train._get_numeric_data().columns
categorical_columns = x_train.columns[~x_train.columns.isin(numeric_columns)]

In [27]:

numeric_transformer = Pipeline(steps= [
        ('imputer', SimpleImputer(strategy='median')),
        ('mmsc', MinMaxScaler(feature_range=(0,1))),

])

categorical_transformer = Pipeline(steps = [
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('ordinal', OrdinalEncoder())
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)
    ],remainder='passthrough')

# Create a pipeline with preprocessing and LogisticRegression
pipeline = Pipeline(steps= [
    ('preprocess',preprocessor)
])

# Fit the pipeline on training data
x_train = pd.DataFrame(pipeline.fit_transform(x_train))

In [28]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,0.000000,0.013125,0.287640,0.167199,0.288440,0.361433,0.748816,0.045767,0.975487,0.919411,...,2.0,3.0,1.0,8.0,6.0,33.0,2.0,0.0,4.0,0.0
1,0.000000,0.011121,0.213483,0.096332,0.214366,0.039215,0.342221,0.022730,0.445507,0.643185,...,1.0,1.0,1.0,0.0,4.0,39.0,2.0,0.0,4.0,0.0
2,0.052632,0.002438,0.055144,0.037627,0.047138,0.429796,0.608512,0.036938,0.787496,0.445741,...,4.0,1.0,1.0,8.0,6.0,39.0,2.0,0.0,4.0,0.0
3,0.105263,0.002104,0.124854,0.073833,0.102132,0.063128,0.522661,0.031042,0.568244,0.274837,...,4.0,1.0,1.0,1.0,6.0,4.0,1.0,0.0,5.0,0.0
4,0.000000,0.008115,0.116620,0.091330,0.079686,0.256321,0.415896,0.045457,0.998164,0.974851,...,4.0,1.0,1.0,11.0,5.0,56.0,2.0,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246004,0.052632,0.009785,0.240180,0.160583,0.214366,0.635991,0.537880,0.026963,0.740306,0.559678,...,1.0,1.0,1.0,8.0,3.0,53.0,3.0,0.0,5.0,0.0
246005,0.000000,0.003106,0.013917,0.032468,0.013468,0.276330,0.171251,1.000000,0.753758,0.431569,...,4.0,5.0,1.0,8.0,3.0,57.0,2.0,0.0,4.0,0.0
246006,0.000000,0.031493,0.297753,0.235012,0.298541,0.446855,0.814543,0.043724,0.765289,0.583854,...,1.0,1.0,1.0,10.0,6.0,5.0,2.0,0.0,4.0,0.0
246007,0.000000,0.004776,0.115955,0.105142,0.102132,0.276330,0.120970,1.000000,0.647250,0.316660,...,4.0,0.0,1.0,8.0,0.0,57.0,2.0,0.0,4.0,0.0
246008,0.000000,0.006446,0.219101,0.099403,0.219978,0.123030,0.267024,1.000000,0.645285,0.436849,...,4.0,1.0,1.0,8.0,5.0,57.0,2.0,0.0,5.0,0.0

In [29]:
x_test = pd.read_csv('D:\\DSEB 63 - NEU\\Năm BA\\Visualization\\Data\\Data\\dseb63_final_project_DP_dataset\\dseb63_application_test.csv',index_col= 0)
x_test.fillna(x_test.median(), inplace=True)
x_test = x_test.set_index('SK_ID_CURR').sort_index(ascending=True)
submit = pd.DataFrame(x_test.index)
x_test

C:\Users\Admin\AppData\Local\Temp\ipykernel_13248\2579535870.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  x_test.fillna(x_test.median(), inplace=True)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
5,Cash loans,F,Y,Y,1,540000.0,1800000.0,62698.5,1800000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,Cash loans,F,Y,Y,1,72000.0,486000.0,23508.0,486000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
16,Cash loans,F,N,N,0,202500.0,992556.0,29151.0,711000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
19,Cash loans,M,Y,Y,0,135000.0,210456.0,16758.0,166500.0,Family,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
25,Cash loans,F,N,Y,2,90000.0,808650.0,26217.0,675000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307487,Cash loans,F,N,Y,0,306000.0,679500.0,24070.5,679500.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307490,Cash loans,M,Y,Y,2,270000.0,1227901.5,46899.0,1129500.0,Family,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
307497,Cash loans,F,N,Y,0,189000.0,1006920.0,42790.5,900000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307499,Cash loans,M,Y,Y,0,225000.0,835380.0,40320.0,675000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,6.0
307508,Cash loans,F,Y,Y,0,247500.0,996849.0,44041.5,891000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0

In [30]:
# Predict
model = LogisticRegression(random_state= 0)
model.fit(x_train,y_train)
x_test = pipeline.transform(x_test)
y_pred = model.predict_proba(x_test)[:, 1]

d:\Python\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [31]:
submit['TARGET'] = y_pred
submit.set_index('SK_ID_CURR')
submit.to_csv('../Submission.csv')